.iconBlack,
.iconWhite {
  display: block;
  flex-shrink: 0;
}

.iconWhite {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :global(:root:not([data-theme="light"])) .iconBlack {
    display: none;
  }

  :global(:root:not([data-theme="light"])) .iconWhite {
    display: block;
  }
}

:global(html[data-theme="dark"]) .iconBlack {
  display: none;
}

:global(html[data-theme="dark"]) .iconWhite {
  display: block;
}
